
$primary-color: #00CED1;
$secondary-color: #000411;
$danger-color: #dc3545;
$warning-color: #dc3545;;
$light-color: #ffffff;
$dark-color: #161923;//butoane

// Definire variabile pentru fonturi
$font-family-base: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$font-family-code: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
